<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdis.modules.herb.mapper.HerbMapper">
    <resultMap id="BaseResultMap" type="com.bdis.modules.herb.entity.HerbEntity">
        <id column="id" property="id"/>
        <result column="herb_code" property="herbCode"/>
        <result column="herb_name" property="herbName"/>
        <result column="latin_name" property="latinName"/>
        <result column="alias_name" property="aliasName"/>
        <result column="category" property="category"/>
        <result column="medicinal_part" property="medicinalPart"/>
        <result column="efficacy" property="efficacy"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
</mapper>
