<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdis.modules.spectrum.mapper.HerbImageMatchMapper">
    <resultMap id="MatchResultMap" type="com.bdis.modules.spectrum.entity.SpectrumComparisonEntity">
        <id column="id" property="id"/>
        <result column="image_id" property="imageId"/>
        <result column="recognition_id" property="recognitionId"/>
        <result column="atlas_id" property="atlasId"/>
        <result column="species_id" property="speciesId"/>
        <result column="herb_name" property="herbName"/>
        <result column="match_rank" property="matchRank"/>
        <result column="image_similarity" property="imageSimilarity"/>
        <result column="metadata_score" property="metadataScore"/>
        <result column="final_score" property="finalScore"/>
        <result column="match_level" property="matchLevel"/>
        <result column="is_image_type_matched" property="isImageTypeMatched"/>
        <result column="is_growth_stage_matched" property="isGrowthStageMatched"/>
        <result column="is_medicinal_part_matched" property="isMedicinalPartMatched"/>
        <result column="is_health_status_matched" property="isHealthStatusMatched"/>
        <result column="is_form_type_matched" property="isFormTypeMatched"/>
        <result column="match_method" property="matchMethod"/>
        <result column="warning_msg" property="warningMsg"/>
        <result column="suggestion" property="suggestion"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <resultMap id="AtlasFeatureCandidateResultMap"
               type="com.bdis.modules.spectrum.vo.HerbAtlasFeatureCandidateVO">
        <result column="atlas_id" property="atlasId"/>
        <result column="atlas_code" property="atlasCode"/>
        <result column="atlas_image_url" property="atlasImageUrl"/>
        <result column="species_id" property="speciesId"/>
        <result column="species_name" property="speciesName"/>
        <result column="feature_vector" property="featureVector"/>
    </resultMap>

    <resultMap id="MatchPageResultMap" type="com.bdis.modules.spectrum.vo.HerbImageMatchPageVO">
        <id column="id" property="id"/>
        <result column="image_id" property="imageId"/>
        <result column="image_code" property="imageCode"/>
        <result column="image_url" property="imageUrl"/>
        <result column="atlas_id" property="atlasId"/>
        <result column="atlas_code" property="atlasCode"/>
        <result column="atlas_image_url" property="atlasImageUrl"/>
        <result column="species_id" property="speciesId"/>
        <result column="species_name" property="speciesName"/>
        <result column="similarity_score" property="similarityScore"/>
        <result column="match_rank" property="matchRank"/>
        <result column="match_result" property="matchResult"/>
        <result column="match_batch_no" property="matchBatchNo"/>
        <result column="match_time" property="matchTime"/>
        <result column="created_at" property="createTime"/>
    </resultMap>

    <sql id="MatchPageColumns">
        m.id,
        m.image_id,
        i.image_no AS image_code,
        i.image_url,
        m.atlas_id,
        a.atlas_no AS atlas_code,
        a.image_url AS atlas_image_url,
        COALESCE(m.species_id, a.species_id) AS species_id,
        COALESCE(m.herb_name, s.herb_name) AS species_name,
        m.image_similarity AS similarity_score,
        m.match_rank,
        m.match_level AS match_result,
        m.remark AS match_batch_no,
        m.created_at AS match_time,
        m.created_at
    </sql>

    <insert id="insertMatch" parameterType="com.bdis.modules.spectrum.entity.SpectrumComparisonEntity"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO herb_image_match (
            image_id,
            recognition_id,
            atlas_id,
            species_id,
            herb_name,
            match_rank,
            image_similarity,
            metadata_score,
            final_score,
            match_level,
            is_image_type_matched,
            is_growth_stage_matched,
            is_medicinal_part_matched,
            is_health_status_matched,
            is_form_type_matched,
            match_method,
            warning_msg,
            suggestion,
            created_at,
            updated_at,
            remark
        ) VALUES (
            #{imageId},
            #{recognitionId},
            #{atlasId},
            #{speciesId},
            #{herbName},
            #{matchRank},
            #{imageSimilarity},
            #{metadataScore},
            #{finalScore},
            #{matchLevel},
            #{isImageTypeMatched},
            #{isGrowthStageMatched},
            #{isMedicinalPartMatched},
            #{isHealthStatusMatched},
            #{isFormTypeMatched},
            #{matchMethod},
            #{warningMsg},
            #{suggestion},
            #{createdAt},
            #{updatedAt},
            #{remark}
        )
    </insert>

    <insert id="batchInsertMatches">
        INSERT INTO herb_image_match (
            image_id,
            recognition_id,
            atlas_id,
            species_id,
            herb_name,
            match_rank,
            image_similarity,
            metadata_score,
            final_score,
            match_level,
            is_image_type_matched,
            is_growth_stage_matched,
            is_medicinal_part_matched,
            is_health_status_matched,
            is_form_type_matched,
            match_method,
            warning_msg,
            suggestion,
            created_at,
            updated_at,
            remark
        ) VALUES
        <foreach collection="matches" item="match" separator=",">
            (
                #{match.imageId},
                #{match.recognitionId},
                #{match.atlasId},
                #{match.speciesId},
                #{match.herbName},
                #{match.matchRank},
                #{match.imageSimilarity},
                #{match.metadataScore},
                #{match.finalScore},
                #{match.matchLevel},
                #{match.isImageTypeMatched},
                #{match.isGrowthStageMatched},
                #{match.isMedicinalPartMatched},
                #{match.isHealthStatusMatched},
                #{match.isFormTypeMatched},
                #{match.matchMethod},
                #{match.warningMsg},
                #{match.suggestion},
                #{match.createdAt},
                #{match.updatedAt},
                #{match.remark}
            )
        </foreach>
    </insert>

    <select id="countActiveByImageId" resultType="int">
        SELECT COUNT(1)
        FROM herb_image_match
        WHERE image_id = #{imageId}
    </select>

    <select id="selectAtlasFeatureCandidates" resultMap="AtlasFeatureCandidateResultMap">
        SELECT
        a.id AS atlas_id,
        a.atlas_no AS atlas_code,
        a.image_url AS atlas_image_url,
        a.species_id,
        s.herb_name AS species_name,
        f.feature_vector
        FROM herb_atlas a
        INNER JOIN herb_species s ON s.id = a.species_id AND s.is_deleted = 0
        INNER JOIN herb_atlas_feature f
            ON f.atlas_id = a.id
            AND f.is_deleted = 0
            AND f.extract_status = 'success'
            AND f.created_at = (
                SELECT MAX(ff.created_at)
                FROM herb_atlas_feature ff
                WHERE ff.atlas_id = a.id
                  AND ff.is_deleted = 0
                  AND ff.extract_status = 'success'
            )
        WHERE a.is_deleted = 0
          AND a.status = 1
          AND f.feature_vector IS NOT NULL
          AND f.feature_vector != ''
        <if test="speciesId != null">
          AND a.species_id = #{speciesId}
        </if>
        ORDER BY a.id ASC
    </select>

    <select id="selectLatestByImageId" resultMap="MatchPageResultMap">
        SELECT
        <include refid="MatchPageColumns"/>
        FROM herb_image_match m
        INNER JOIN herb_image i ON i.id = m.image_id AND i.is_deleted = 0
        INNER JOIN herb_atlas a ON a.id = m.atlas_id AND a.is_deleted = 0
        LEFT JOIN herb_species s ON s.id = a.species_id AND s.is_deleted = 0
        WHERE m.image_id = #{imageId}
          AND m.remark = (
              SELECT mm.remark
              FROM herb_image_match mm
              WHERE mm.image_id = #{imageId}
                AND mm.remark IS NOT NULL
              ORDER BY mm.created_at DESC
              LIMIT 1
          )
        ORDER BY m.match_rank ASC
    </select>

    <select id="selectByImageId" resultMap="MatchPageResultMap">
        SELECT
        <include refid="MatchPageColumns"/>
        FROM herb_image_match m
        INNER JOIN herb_image i ON i.id = m.image_id AND i.is_deleted = 0
        INNER JOIN herb_atlas a ON a.id = m.atlas_id AND a.is_deleted = 0
        LEFT JOIN herb_species s ON s.id = a.species_id AND s.is_deleted = 0
        WHERE m.image_id = #{imageId}
        ORDER BY m.created_at DESC, m.match_rank ASC
    </select>

    <sql id="MatchWhere">
        <where>
            <if test="query.imageId != null">
                m.image_id = #{query.imageId}
            </if>
            <if test="query.atlasId != null">
                AND m.atlas_id = #{query.atlasId}
            </if>
            <if test="query.speciesId != null">
                AND COALESCE(m.species_id, a.species_id) = #{query.speciesId}
            </if>
            <if test="query.matchResult != null and query.matchResult != ''">
                AND m.match_level = #{query.matchResult}
            </if>
            <if test="query.minSimilarity != null">
                AND m.image_similarity &gt;= #{query.minSimilarity}
            </if>
            <if test="query.maxSimilarity != null">
                AND m.image_similarity &lt;= #{query.maxSimilarity}
            </if>
            <if test="query.startTime != null">
                AND m.created_at &gt;= #{query.startTime}
            </if>
            <if test="query.endTime != null">
                AND m.created_at &lt;= #{query.endTime}
            </if>
        </where>
    </sql>

    <select id="countPage" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM herb_image_match m
        INNER JOIN herb_atlas a ON a.id = m.atlas_id AND a.is_deleted = 0
        <include refid="MatchWhere"/>
    </select>

    <select id="selectPage" resultMap="MatchPageResultMap">
        SELECT
        <include refid="MatchPageColumns"/>
        FROM herb_image_match m
        INNER JOIN herb_image i ON i.id = m.image_id AND i.is_deleted = 0
        INNER JOIN herb_atlas a ON a.id = m.atlas_id AND a.is_deleted = 0
        LEFT JOIN herb_species s ON s.id = a.species_id AND s.is_deleted = 0
        <include refid="MatchWhere"/>
        ORDER BY m.created_at DESC, m.match_rank ASC
        LIMIT #{offset}, #{pageSize}
    </select>
</mapper>
