<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdis.modules.spectrum.mapper.SpectrumComparisonMapper">
    <resultMap id="BaseResultMap" type="com.bdis.modules.spectrum.entity.SpectrumComparisonEntity">
        <id column="id" property="id"/>
        <result column="image_id" property="imageId"/>
        <result column="atlas_id" property="atlasId"/>
        <result column="similarity_score" property="similarityScore"/>
        <result column="match_rank" property="matchRank"/>
        <result column="match_result" property="matchResult"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
</mapper>
